[Service]
ExecStart=/bin/sh -c '/usr/bin/node /opt/minera-client/client.js 2>&1 >> /opt/minera-client/client.log'
Restart=always
SyslogIdentifier=minera-client
User=minera
Group=minera

# CHANGE THIS!!! #
Environment=MINERA_ID=zTkGRKl5DHq18NdT9jNyk/ujZAH7clk+K8r7ZAOj6Kk=

[Install]
WantedBy=multi-user.target
